{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% block title_sub %}{% trans "Explore Maps" %}{% endblock %} - {{ block.super }} {% endblock %}

{% block body_class %}maps{% endblock %}

{% block jumbotron %}
<header class="jumbotron">
  <div class="container">
    <div class="row">
      <h1 class="span6"><i class="icon-map-marker"></i>{% trans 'Explore Maps' %}</h1>
      <a href="{% url "new_map" %}" class="btn btn-large btn-danger pull-right">{% trans "Create a New Map" %}</a>
    </div>
  </div>
</header>
{% endblock %}

{% block body_outer %}
  <!-- <div class="span12">
    <ul class="nav nav-tabs" id="subnav-tabs">
      <li><a href="{% url "maps_browse" %}" class="explore">{% trans 'Explore Maps' %}</a></li>
    </ul>
  </div> -->
  {% block body %}{% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
{% endblock %}